.color {
    border: 1px solid black;
    display: inline-block;
    height: 40px;
    width: 40px;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#green {
    background-color: green;
}

.pixel {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    background-color: white;
}